# Ignore everything
*

# Allow directories (so .R and .Rmd files inside subfolders are tracked)
!*/

# But not these files...
!*.R
!*.Rmd
!*.md
!renv.lock

# Ignore RStudio project settings
.Rproj.user